* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    display: flex;
    background: black;
    min-height: 100vh;
}

.rectangle {
    position: fixed;
    width: 18.5px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    z-index: 10;
    margin-top: 160px;
    transition: 0.5s;
    backdrop-filter: blur(30%);
    padding: 20px;

}

ion-icon {
    pointer-events: none;
}

.rectangle:hover {
    z-index: 1000;
    backdrop-filter: blur(50%);
}
.container{
    width: 400px;
    min-height: 200vh;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    display: inline-flex;
}
.wrapper .st1,.st3{
    color: white;
    font-size: 40px;
    font-weight: 400;
    transform: translateX(200px);
}
.wrapper .st2{
    color: white;
    font-size: 60px;
    font-weight: 600;
}
.wrapper .st3{
    color: white;
    font-size: 40px;
    font-weight: 400;
    transform: translateX(200px),translateY(40px);
}

.rectangle ul {
    display: list-item;
    list-style: none;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: black;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(to top, #008aff,#00ffe7);
    border-radius: 20px;
}
.rectangle ul li {
    position: relative;
    list-style: none;
    width: auto;
    height: auto;
    z-index: 1;
}

.rectangle ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    transition: 0.5s;
}

.rectangle ul li a{
    display: flex;
    position: relative;
}

.rectangle ul li a .icon {
    padding: 5px;
    position: relative;
    line-height: auto;
    transition: 0.5s;
    font-size: auto;
    border-radius: 20%;
    transition: 0.3s ease-in;
    position: relative;
    border: 1px solid transparent;
}
.text{
    display: none;
    left: 20px;
    position: absolute;
    padding: 5px;
    opacity: 0;
}

.rectangle ul:hover li a .icon {
    opacity: 0.1;
}

.rectangle ul li a:hover .icon{
    opacity: 1;
    margin: 1rem 0;
}
.rectangle ul li a:hover .text {
    display: block;
    left: 38px;
    position: absolute;
    opacity: 0;
    font-size: 1.4rem;
    transition: 2s;
}

.rectangle ul li:nth-child(1) a .icon:hover {
    color: rgb(255, 178, 123);
    box-shadow: 0 0px 5px 0 rgb(255, 178, 123);
    border: 1px solid rgb(255, 178, 123);
    transform: scale(1.7) translateX(5px);
}
.rectangle ul li:nth-child(1) a:hover .text{
    color: rgb(255, 178, 123);
    opacity: 1;
    text-shadow: 1px 1px 10px chocolate;
}

.rectangle ul li:nth-child(2) a .icon:hover {
    color: #ff3853;
    box-shadow: 0 0px 5px 0 #ff3853;
    border: 1px solid #ff3853;
    transform: scale(1.7) translateX(5px);
}
.rectangle ul li:nth-child(2) a:hover .text{
    color: rgb(255, 159, 148);
    opacity: 1;
    text-shadow: 1px 1px 10px #ff3853;
}

.rectangle ul li:nth-child(3) a .icon:hover {
    color: #00d0ff;
    box-shadow: 0 0px 5px 0 #00d0ff;
    border: 1px solid  #00d0ff;
    transform: scale(1.7) translateX(5px);
}
.rectangle ul li:nth-child(3) a:hover .text{
    color: lightskyblue;
    opacity: 1;
    text-shadow: 1px 1px 10px #00d0ff;
}
.rectangle ul li:nth-child(4) a .icon:hover {
    color: #ff0086;
    box-shadow: 0 0px 5px 0 #ff0086;
    border: 1px solid  #ff0086;
    transform: scale(1.7) translateX(5px);
}
.rectangle ul li:nth-child(4) a:hover .text{
    color: lightpink;
    opacity: 1;
    text-shadow: 1px 1px 10px #ff0086;
}
.rectangle ul li:nth-child(5) a .icon:hover {
    color: #FFB300;
    box-shadow: 0 0px 5px 0 #FFB300;
    border: 1px solid  #FFB300;
    transform: scale(1.7) translateX(5px);
}
.rectangle ul li:nth-child(5) a:hover .text{
    color: burlywood;
    opacity: 1;
    text-shadow: 1px 1px 10px #FFB300;
}
.rectangle ul li:nth-child(6) a .icon:hover {
    color: #1cc41c;
    box-shadow: 0 0px 5px 0 #1cc41c;
    border: 1px solid  #1cc41c;
    transform: scale(1.7) translateX(5px);
}
.rectangle ul li:nth-child(6) a:hover .text{
    color: lightgreen;
    opacity: 1;
    text-shadow: 1px 1px 10px #1cc41c;
}
.rectangle ul li:nth-child(7) a .icon:hover {
    color: #15f4ee;
    box-shadow: 0 0px 5px 0 #15f4ee;
    border: 1px solid #15f4ee;
    transform: scale(1.7) translateX(5px);
}
.rectangle ul li:nth-child(7) a:hover .text{
    color: #73fdf9;
    opacity: 1;
    text-shadow: 1px 1px 10px #15f4ee;
}